body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("img/escheresque_ste.png");
  font-size: 20px;
  margin: 0;
}

#container {
  background-color: #ccc;
  width: 300px;
  padding: 50px 50px 40px 50px;
  margin: 100px auto 0;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

input[type=text],
input[type=password],
input[type=email] {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;

}

input[type=submit] {
  width: 300px;
  background-color: #36b03c;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
}

input[type=submit]:hover {
  background-color: #37b93d;
}

input[type=submit]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}

input::-webkit-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder {
  color: #428c42;
}

input:-moz-placeholder {
  color: #999;
}

input:focus:-moz-placeholder {
  color: #428c42;
}

input::-moz-placeholder {
  color: #999;
}

input:focus::-moz-placeholder {
  color: #428c42;
}

input:-ms-input-placeholder {
  color: #999;
}

input:focus:-ms-input-placeholder {
  color: #428c42;
}

.registration-button {
  display: block;
  box-sizing: border-box;
  width: 300px;
  background-color: #36b03c;
  font-size: 20px;
  font-family: Arial;
  color: white;
  padding: 15px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.registration-button:hover {
  background-color: #37b93d;
}

.registration-button:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}

nav {
  height: 100vh;
  width: 20vw;
  background-color: #555;
}
